# Experimentations
SD2_1_MODEL_PATH=/path/to/stable-diffusion-2-1/model/folder
MINECRAFT_TEXTURE_LORA_MODEL_PATH=/path/to/minecraft-texture-lora/model/folder
ALL_IN_ONE_MODEL_PATH=/path/to/all-in-one-pixel/model/folder
DEFAULT_TEXTURE_PACK_FOLDER_PATH=/path/to/default-texture-pack
DEFAULT_TEXTURE_PACK_ZIP_PATH=/path/to/default-texture-pack.zip
SDXL_MODEL_PATH=/path/to/SDXL/model/folder
PLIXEL_MINECRAFT_MODEL_PATH=/path/to/plixel-minecraft/model/folder

# Training
PRETRAINED_MODEL_PATH_HOST=/path/to/stable-diffusion-1-5/model/folder
MINETEXTURE_CHECKPOINTS_OUTPUT_FOLDER_PATH=/tmp/checkpoints/minetexture
PRETRAINED_MODEL_PATH_DOCKER=/tmp/models/base
TRAINING_DATASET_PATH=/tmp/datasets/training-minetexture

WANDB_PROJECT_NAME=minetexture
WANDB_ENTITY=s-gardier-work
WANDB_API_KEY=WANDB_API_KEY
GCS_DATASET_BUCKET=gs://training_data_minetexture/
GCS_BASE_MODEL_BUCKET=gs://training_data_minetexture/models/base/stable-diffusion-1-5
GCS_CHECKPOINTS_BUCKET=gs://training_data_minetexture/models/minetexture-checkpoints
#to be set with base64 -w0 /path/to/gcs-sa-key.json
GCS_SA_KEY_B64=NONE

LORA_DIM=64
LORA_ALPHA=32
INPUT_DIM=512
NUM_MACHINES=1
NUM_PROCESSES=2
NUM_CPU_THREADS_PER_PROCESS=4
MIXED_PRECISION=fp16
DYNAMO_BACKEND=no

# Inference
BASE_MODEL=runwayml/stable-diffusion-v1-5
LORA_PATH=gs://minetexture-checkpoints/Minecraft-Textures.safetensors
OUTPUT_DIR=data/output
INFERENCE_BUCKET=generated_data_minetexture

STEPS=30
GUIDANCE_SCALE=7.5
HEIGHT=512
WIDTH=512
NEGATIVE_PROMPT=
USE_LCM=false

INFERENCE_API_KEY=secret_key123

INFERENCE_API_URL=http://localhost:8080
