<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='minecraft.css')}}">
    <title>Minetexture</title>
</head>

<body class="bg-primary text-secondary">
    <!-- Header -->
     <div class="container">
        <center>
            <h1>Welcome to Minetexture !</h1>
            <p>Generate your own unique Minecraft textures.</p>
        </center>
    </div>
    <!-- Example of prompts -->

    <!-- Form for prompt -->
</body>
</html>
