<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='minecraft.css')}}">
    <title>Minetexture</title>
</head>

<body class="bg-primary text-secondary">
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="navbar-brand">Minetexture</div>
        <ul class="navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <div class="container">
        <row>
            <col-6>
                <div class="card">
                    <!-- Header -->
                    <div class="card-header" style="text-align: center;">
                        <h1>Welcome to Minetexture</h1>
                        <p class="pulse-element" style="color: var(--warning-color);">Generate your own unique Minecraft textures !</p>
                    </div>

                    <div class="card-body">
                        <!-- Example of prompts -->
                        <div class="container">
                            <h3>How to generate textures ?</h3>
                            <p style="color: var(--text-color);">Enter your prompt with the item and a description of the desired texture. <br>
                                Some examples of prompts :
                            </p>
                            <div class="container">
                                <div class="grid">
                                    <div class="col-6 col-md-4" style="text-align: center;">
                                        <img src="/static/images/lapis_ingot.png"
                                            alt="generated texture for the prompt lapis lazuli ingot"
                                            width="100" height="100">
                                        <p style="color: var(--text-color);">"Lapis lazuli ingot"</p>
                                    </div>
                                    <div class="col-6 col-md-4" style="text-align: center;">
                                        <img src="/static/images/umbrella.png"
                                            alt="generated texture for the prompt umbrella"
                                            width="100" height="100">
                                        <p style="color: var(--text-color);">"Umbrella"</p>
                                    </div>
                                    <div class="col-6 col-md-4" style="text-align: center;">
                                        <img src="/static/images/steampunk_purple_hat.png"
                                        alt="generated texture for the prompt steampunk purple hat"
                                        width="100" height="100">
                                    <p style="color: var(--text-color);">"Steampunk Purple Hat"</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Form for prompt -->
                    <div class="container">
                        <h3>Try it yourself:</h3>
                        <div class="form-group">
                            <center>
                                <form method="POST" action="/">
                                    <input type="prompt" id="prompt" class="prompt-input"
                                        placeholder="Enter your prompt here..." style="font-size: 1.5rem;">
                                    <button class="form-button"
                                        style="margin-top: 20px; border:2px solid var(--btn-normal-border-color)">
                                            Send
                                    </button>
                                    {% if added_request %}
                                        <p style="color: var(--success-color);">Your request has been successfully sent !</p>
                                    {% endif %}
                                </form>
                            </center>
                        </div>
                    </div>
                    <!-- Request history -->
                    <div class="container">
                        <h3>Request history:</h3>
                        <table>
                        <tr>
                            <th>Prompt</th>
                            <th>Image Preview</th>
                            <th>Download</th>
                        </tr>
                        {% if users_request %}
                            {% for req in users_request %}
                                <tr>
                                    <td>{{ req.prompt_text }}</td>
                                    {% if req.status != "done" %}
                                        <td><span class="loader"></span></td>
                                    {% else %}
                                        <td>{{ req.status }}</td>
                                    {% endif %}
                                    <td><button class="button-tertiary">Download</button></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <p style="color: var(--text-color);">No request yet!</p>
                        {% endif %}
                        </table>
                    </div>
                </div>
            </col-6>
        </row>
    </div>

    <footer class="text-white pl-xs text-center" style="margin-top: 20px;">
        CSS Minecraft stylesheet from https://github.com/Jiyath5516F/Minecraft-CSS
    </footer>
</body>
</html>
